* {
    background-color: black;
    color: white;
} 

.leftPanel {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center; 
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border: 1px solid white;
    width: 750px;
    height: 750px;
}

.topRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}